<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Delivery</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.tboys.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <res-ref-name>jdbc/delivery</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <listener>
    <listener-class>com.tboys.listner.AppListner</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>DoRegisterServlet</display-name>
    <servlet-name>DoRegisterServlet</servlet-name>
    <servlet-class>com.tboys.servlet.DoRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoRegisterServlet</servlet-name>
    <url-pattern>/DoRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoRecordServlet</display-name>
    <servlet-name>DoRecordServlet</servlet-name>
    <servlet-class>com.tboys.servlet.DoRecordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoRecordServlet</servlet-name>
    <url-pattern>/DoRecordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoDeliveryDanServlet</display-name>
    <servlet-name>DoDeliveryDanServlet</servlet-name>
    <servlet-class>com.tboys.servlet.DoDeliveryDanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoDeliveryDanServlet</servlet-name>
    <url-pattern>/DoDeliveryDanServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveDeliveyDanServlet</display-name>
    <servlet-name>SaveDeliveyDanServlet</servlet-name>
    <servlet-class>com.tboys.servlet.SaveDeliveyDanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveDeliveyDanServlet</servlet-name>
    <url-pattern>/SaveDeliveyDanServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveDeliveryDanServlet</display-name>
    <servlet-name>RemoveDeliveryDanServlet</servlet-name>
    <servlet-class>com.tboys.servlet.RemoveDeliveryDanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveDeliveryDanServlet</servlet-name>
    <url-pattern>/RemoveDeliveryDanServlet</url-pattern>
  </servlet-mapping>
</web-app>